h1 {
	font-family: Calibri;
	font-weight: bold;
	font-size: 14pt;
}
p {
	font-family: Calibri;
	font-weight: bold;
	font-size: 12pt;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 400px;
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CADB1;
}